.fa.fa-star {
    margin: 1rem;
    font-size: 30px;
}

span {
    display: inline-block;
    margin: 1rem;
    text-align: center;
    background-color: #ccc;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.selected {
    background-color: #7a7476;
    cursor: not-allowed;
}

.used {
    background-color: #77ee7e;
    cursor: not-allowed;
}

.col-2 {
    align-self: center;
    display: flex;
    justify-content: space-between;
}